{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Islandr - Login{% endblock %}

{% block page_content %}
<div>
    <h1>Login</h1>
</div>
{{ wtf.quick_form(form, button_map={"submit": "outline-secondary"}) }}
<p class="mt-3">
    New user?
    <a class="text-secondary" href="{{ url_for('auth.register') }}">Click here to register</a>
</p>
<p>Forgot your password? <a class="text-secondary" href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
{% endblock %}}
