<h1 class="account-heading">{{ post.title }}</h1>
<img
  align="center" alt="Image" border="0" class="center autowidth
  fullwidth" src="https://islandr.xyz/static/post_cover_pic/{{ post.cover }}" style="text-decoration: none;
  -ms-interpolation-mode: bicubic; border: 0; height: 100%; width:
  100%; max-width: 320px; max-height: 180px; display: block; border-radius: 10px;" title="Image" width="280"
/>

<div>
  <h6><b>event location:</b> {{ post.location }}</h6>
  <h6>tag:</b> {{ post.tag }}</h6>
  <h6><b>datetime from:</b> {{ post.datetime_from }}</h6>
  <h6><b>datetime to:</b> {{ post.datetime_to }}</h6>
</div>