{% macro pagination_widget(pagination, endpoint) %}
<nav aria-label="page navigation">
    <ul class="pagination pagination-lg mt-5">
        <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
            <a href="{% if pagination.has_prev %}{{ url_for(endpoint, 
                page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
                <span class="page-link">&laquo;</span>
            </a>
        </li>
        {% for p in pagination.iter_pages(left_edge=3, left_current=3, right_current=3, right_edge=3) %}
            {% if p %}
                {% if p == pagination.page %}
                <li class="page-item active">
                    <a class="page-link" href="{{ url_for(endpoint, page = p, **kwargs) }}">
                        {{ p }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
                </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
            <a href="{% if pagination.has_next %}{{ url_for(endpoint, 
                page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
                <span class="page-link">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endmacro %}

{% macro post_generator(posts, show_dot=False) %}
<div class="row mt-3">
    {% for post in posts %}
        <div class="col-sm-4">
            <div class="card mb-5 box-shadow">
                <a href="{{ url_for('event.post', id=post.id) }}">
                    <div style="position:relative;">
                        <img class="card-img-top" src="{{ url_for('static', filename='pic/default.jpg') }}" alt="Card image cap">
                        {% if show_dot %}
                        <div style="position:absolute; z-index:2; left:10px; top:10px">
                            {% if post.is_approved == -1 %}
                                <div id="reject-circle"></div>
                            {% elif post.is_approved == 0 %}
                                <div id="pending-circle"></div>
                            {% elif post.is_approved == 1 %}
                                <div id="approved-circle"></div>
                            {% endif %}
                        </div>
                        {% endif %}
                     </div>     
                </a>
                <div class="card-body">
                    <h4>{{ post.title }}</h4>
                    <div class="row no-gutters">
                        <div class="col-sm-3">
                            <a href="{{ url_for('group.group_profile', id=post.author.id) }}">
                                <img class="rounded-circle" src="{{ url_for('static', filename='profile_pic/%s' % post.author.owner[0].profile_pic) }}" height=50 width=50/>
                            </a>
                        </div>
                        <div class="col-sm">
                            <p class="mb-1">Organizer: {{ post.author.groupname }}</p>
                            <p class="mb-1">Date: {{ post.datetime_from.strftime("%Y-%m-%d") }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {% endfor %}
</div>
{% endmacro %}

{% macro group_generator(groups) %}
<div class="row mt-4">
    {% if groups %}
        {% for group in groups %}
            <div class="col-sm-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <div class="row no-gutters">
                            <div class="col-sm-2">
                                <a href="{{ url_for('main.account', user_id=group.owner[0].id) }}">
                                    <img class="rounded-circle" src="{{ url_for('static', filename='profile_pic/%s' % group.owner[0].profile_pic) }}" height=50 width=50/>
                                </a>
                            </div>
                            <div class="col-sm-10">
                                <a style="text-decoration: None; color: black;" href="{{ url_for('group.group_profile', id=group.id) }}">
                                    <h4>{{ group.groupname }}</h4>
                                </a>
                                <p>Tag: {{ group.tag }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    {% endif %}
</div>
{% endmacro %}

{% macro user_generator(users) %}
<div class="row mt-3">
    {% if users %}
        {% for user in users %}
            <div class="container mx-6">
                <hr>
                    <div class="row">
                        <div class="col-sm-1 mx-3" align="center">
                            <a href="{{ url_for('main.account', user_id=user.id) }}">
                                <img class="rounded-circle" src="{{ url_for('static', filename='profile_pic/%s' % user.profile_pic) }}" alt="user_pic" height="80px" width="80px">
                            </a>
                        </div>
                        <div class="col-sm-10">
                            <h5 class="mb-2">{{ user.username|safe }}</h5>
                            <p style="font-size: 80%;" class="text-muted mb-1">Location:  {{ user.location }}</p>
                            <p style="font-size: 80%;" class="text-muted mb-1">Email:  {{ user.email }}</p>
                            <p style="font-size: 80%;" class="text-muted mb-1">Groups:  {{ user.joined_groups.count() }}</p>
                        </div>
                    </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endmacro %}

{% macro profile_pic_generator(users, amount=3) %}
<button type="button" class="btn btn-light">
    {% for i in range(amount) if users[i] %}
        <img class="rounded-circle" src="{{ url_for('static', filename='profile_pic/%s' % users[i].profile_pic) }}" alt="" height="23px" width="23px">
    {% endfor %}        
    ···
</button>
{% endmacro %}