<!--
 * @Description: Edit
 * @Author: Tianyi Lu
 * @Date: 2019-08-11 14:38:54
 * @LastEditors: Tianyi Lu
 * @LastEditTime: 2019-08-12 11:31:43
 -->
{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}About us{% endblock %}

{% block page_header %}

<!-- <div class="jumbotron">
	<div class="container">
		<h1 class="display-4">About us</h1>
		<img src="{{ url_for('static', filename='about_us/top.jpg') }}" class="img-fluid">
		<p class="lead">This is a simple 3 people team, a team willing to serve for UWC community in order to improve
			people's life on campus.</p>
		<hr class="my-4">
	</div>
</div> -->

{% endblock %}

{% block page_content %}
<br /><br />

<div class="text-center mb-4">
	<h2>Tech Team</h2>
	<hr>
</div>
<div class="row text-center">

	<div class="col-lg-4">
		<img class="rounded-circle" src="{{ url_for('static', filename='about_us/Sky.jpeg') }}" height="140px" width="140px" />
		<h3>Sky Lu</h3>
		<b>Founder, Web-Developer</b><br />
		<span class="badge badge-info mt-2">DP2</span>
		<span class="badge badge-warning">Bari</span>
		<span class="badge badge-dark">@Shanghai, China</span>
		<p class="text-center mt-2">What is the most remarkable feature of UWC? My answer is all the brilliant ideas and events proposed by students and teachers from various culture and backgrounds. Islandr platform is aiming for spreading those ideas and events, and I sincerely hope that our platform can improve our community.</p>
	</div>

	<div class="col-lg-4">
		<img class="rounded-circle" src="{{ url_for('static', filename='about_us/Steven.png') }}" height="140px" width="140px" />
		<h3>Steven Wu</h3>
		<b>Founder, Web-Developer</b><br />
		<span class="badge badge-info mt-2">DP2</span>
		<span class="badge badge-warning">Efie</span>
		<span class="badge badge-dark">@Beijing, China</span>
		<p class="text-center mt-2"><b>“</b>I was deeply inspired by the power of synergy through developing this website, and I wish Islandr can help our community in very practical ways in the long run.<b>”</b></p>
	</div>

	<div class="col-lg-4">
		<img class="rounded-circle" src="{{ url_for('static', filename='about_us/Multy.jpeg') }}" height="140px" width="140px" />
		<h3>Multy Xu</h3>
		<b>Founder, Web-Developer</b><br />
		<span class="badge badge-info mt-2">DP2</span>
		<span class="badge badge-warning">Bandele</span>
		<span class="badge badge-dark">@Suzhou, China</span>
		<p class="text-center mt-2">I leaned the power of technology through developing Islandr, firming my idea that “technology is the core which leads to breakthrough”. And I wish this small project will inspire more people to contribute to our community.</p>
	</div>
</div>

<div class="text-center mb-4 mt-6">
		<h2>Media Team</h2>
		<hr>
	</div>
	<div class="row text-center">
		<div class="col-lg-6">
			<img class="rounded-circle" src="{{ url_for('static', filename='about_us/Multy.png') }}" height="140px" width="140px" />
			<h3>Multy Xu</h3>
			<b>Founder, Web-Developer</b><br />
			<span class="badge badge-info mt-2">DP2</span>
			<span class="badge badge-warning">Bandele</span>
			<span class="badge badge-dark">@Suzhou, China</span>
			<p class="text-center mt-2">I was deeply inssdfsd, and I wish Islandsdfsdfy in very practsdfsdfsdfsdlong run.</p>
		</div>
		<div class="col-lg-6">
			<img class="rounded-circle" src="{{ url_for('static', filename='about_us/Multy.jpeg') }}" height="140px" width="140px" />
			<h3>Multy Xu</h3>
			<b>Founder, Web-Developer</b><br />
			<span class="badge badge-info mt-2">DP2</span>
			<span class="badge badge-warning">Bandele</span>
			<span class="badge badge-dark">@Suzhou, China</span>
			<p class="text-center mt-2">I was deeply inssdfsd, and I wish Islandsdfsdfy in very practsdfsdfsdfsdlong run.</p>
		</div>
	</div>

	<div class="text-center mb-4 mt-6">
			<h2>Acknowledgements</h2>
		</div>

<div class="row">
	<div class="col-1"></div>
	<div class="col-10">

		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Name</th>
		      <th scope="col">Contribution</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Steve Wang
				<span class="badge badge-info mt-2">Alumnus</span>
	  			<span class="badge badge-warning">Efie</span>
	  			<span class="badge badge-dark">@Hangzhou, China</span>
			  </td>
		      <td>xxxasdfasdfasdfasdfasdflakjdflkasjdflkasjdfl</td>
		    </tr>
			<tr>
		      <td>Steve Wang</td>
		      <td>Mark</td>
		    </tr>
			<tr>
		      <td>Steve Wang</td>
		      <td>Mark</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	<div class="col-1"></div>
</div>


{% endblock %}
