{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Islandr - {{ user.username }}{% endblock %}

{% block page_content %}


<div class="content-section px-3 py-3" style="background-color:rgba(226, 226, 226, 0.315);">
        <div class="media">
            <img class="rounded-circle account-img ml-4 mr-5" src="{{ profile_pic }}" />

            <div class="media-body">
                <h1 class="account-heading">{{ user.username }}</h1>
                <br />
                <h6><b>Email address:</b>  {{ user.email }}</h6>
                <hr/>
                <h6><b>Name:</b>  {{ user.name }}</h6>
                <hr/>                
                <h6><b>Hometown:</b>  {{ user.location }}</h6>
                <hr/>
                <h6><b>About Me:</b>  {{ user.about_me }}</h6>
                <hr/>
                {% if current_user.id == user.id %}
                <div class="content-section mt-3">
                    <a href="{{ url_for('main.account_edit', user_id=user.id) }}">
                        <button class="btn btn-outline-secondary">Edit Account Info</button>
                    </a>
                </div>
                {% endif %}

            </div>
        </div>
</div>

{% endblock %}
