<!--
 * @Description: Edit
 * @Author: Tianyi Lu
 * @Date: 2019-09-01 07:46:52
 * @LastEditors: Tianyi Lu
 * @LastEditTime: 2019-09-01 07:46:53
 -->
{% extends "base.html" %}

{% block title %}Islandr - All Groups{% endblock %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="mt-6">
    <h2>All Teams</h2>
    <hr/>
</div>
{{ macros.group_generator(groups) }}
<div class="pagination justify-content-center">
    {{ macros.pagination_widget(pagination, 'group.all_group') }}
</div>

{% endblock %}