<!--
 * @Description: Editor
 * @Author: Tianyi Lu
 * @Date: 2019-08-17 16:42:28
 * @LastEditors  : Tianyi Lu
 * @LastEditTime : 2020-01-04 18:56:27
 -->
{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Islandr - All Events{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(".form_datetime").datetimepicker({
        format: "yyyy-mm-dd"
    });
</script>
{% endblock %}

{% block page_content %}
<div class="mt-6">
    <h2>All Events</h2>
    <hr/>
    <form method="POST" action="" enctype="multipart/form-data" id="form-with-disable">
        <div class="row">
            <div class="input-append date form_datetime col-md-4">
                <input class="form-control" name="datetime_from" type="text" id="datetime_from" placeholder="From">
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
    
            <div class="input-append date form_datetime col-md-4">
                <input class="form-control" name="datetime_to" type="text" id="datetime_to" placeholder="To">
                <span class="add-on"><i class="icon-th"></i></span>
            </div>
            <button class="btn btn-outline-dark col-md-1 d-none d-sm-block" type="submit">Filter</button>
            <div class="container d-block d-sm-none">
                <button class="btn btn-outline-dark col-md-1" type="submit">Filter</button>
            </div>
        </div>
    </form>

</div>
{{ macros.post_generator(posts) }}
<div class="pagination justify-content-center">
    {{ macros.pagination_widget(pagination, 'event.all_post') }}
</div>
{% endblock %}