{% extends "found.html" %}

{% block title %}Islandr{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='islander.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='islander.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<nav class="shadow-sm navbar navbar-expand-lg navbar-dark px-6 fixed-top" style="background-color: #0065A1;">
    <img class="logo-pic" src="{{ url_for('static', filename='pic/logo.jpg') }}" alt="logo">
    <a class="navbar-brand" href="{{url_for('main.index')}}">CSC | Islandr</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('main.index')}}">Home<span class="sr-only">(current)</span></a>
            </li>
            <!-- TODO -->
            <li class="nav-item active">
                <a class="nav-link" href="{{url_for('main.moments')}}">Moments<span class="sr-only">(current)</span></a>
            </li>
            <!-- TODO -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Group
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if not current_user.my_group %}
                        <a class="dropdown-item" href="{{url_for('main.group_creater')}}">Create Group</a>
                    {% else %}
                        <a class="dropdown-item" href="{{url_for('group.group_profile', id=current_user.group_id)}}">My Group</a>
                    {% endif %}
                </div>
            </li>
            {% if current_user.is_admin %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Approve
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('group.group_approve')}}">Approve Group</a>
                        <a class="dropdown-item" href="{{url_for('main.approve')}}">Approve Post</a>
                    </div>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav justify-content-end">
            {% if current_user.is_authenticated %}
            {% block searchbar %}{% endblock %}
            <li class="nav-item">
                <a class="align-middle" href="{{ url_for('main.account', user_id=current_user.id) }}">
                    <img class="rounded-circle mt-1" src="{{ url_for('static', filename='profile_pic/%s' % current_user.profile_pic) }}" height=30 width=30/>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ current_user.username}} {% if current_user.has_msg %} <span class="ml-1 badge badge-pill badge-danger">!</span> {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('main.account', user_id=current_user.id) }}">My Account</a>
                    <a class="dropdown-item" href="{{ url_for('main.message') }}">Message {% if current_user.has_msg %} <span class="ml-1 badge badge-pill badge-danger">!</span> {% endif %}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ url_for('auth.change_password') }}">Change Password</a>
                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('auth.login') }}">Log In</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="mb-4"></div>
{% endblock %}

{% block content %}
<div class="page">
    {% block page_header %}{% endblock %}
    <div class="container mt-6 mb-3">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
</div>
<footer class="py-5 footer">
    <div class="container">
        <div class="text-center">
            <p class="m-0 text-white">United World College Changshu China | Islandr Team 2019</p>
            <p class="m-0 text-white"><a style="color:white; text-decoration: underline" href="{{url_for('main.about_us')}}">About Us</a> · <a style="color:white; text-decoration: underline;" href="#">Join Us</a> · <a style="color: white; text-decoration: underline;" href="mailto:islandr-csc@outlook.com">Contact</a> · <a style="color: white; text-decoration: underline;" href="https://github.com/zlxlty/Islandr" target="_blank">Github</a></p>
        </div>
    </div>
    <!-- /.container -->
</footer>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
