{% extends "base.html" %}

{% block title %}Islandr - New Moment{% endblock %}
{% import "_macros.html" as macros with context %}

{% block page_content %}
<div class="mt-6">
    <form method="POST" action="" enctype="multipart/form-data" id="form-with-disable">

        <h3 class='title'>Record and capture the best <i>Moments</i> of your team. </h3>
        <br />

        <div class="form-group">
            <label for="body">Moment Description</label>
            <textarea class="form-control" name="body" id="body" rows="3"></textarea>
        </div>
        <br />

        <div class="form-group">
            <label for="link">Link event (One moment must link with one event of your team.)</label>
            <br />
            <select name="link"  class="form-control">
                {% if group.posts.all() %}
                    {% for post in group.posts.all() %}
                        {% if post.is_approved == 1%}
                            <option value="{{ post.id }}">{{ post.title }}&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp{{ post.datetime_from }}</option>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <option value="None">There's no event yet.</option>
                {% endif %}
            </select>
        </div>
        <br />

        <div class="form-group">
            <label>Upload Pictures  (At least 1, Maximum 9)</label>
            <div class="file">
                <input type="file" class="file-input" name="pictures" accept="image/jpeg, image/jpg, image/png" multiple/>
            </div>
        </div>

        <input type="submit" value="Post is now!" class="btn btn-light btn-outline-info mt-3" id="disable-submitBtn"></input>

    </form>
</div>

{% endblock %}
