{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Islandr - Message{% endblock %}

{% block page_content %}
<h1>Message</h1>
<hr>
<div class="row">
    <div class="col-sm-3">
        <div class="d-flex justify-content-center btn-group-vertical border-right border-left">
            <button class="btn btn-light">Notification<hr></button>
            
            <button class="btn btn-light">Announcement<hr></button>
            {% if current_user.my_group %}
                <button class="btn btn-light"><a style="color: black;" href="{{ url_for('main.group_message') }}">My Group<hr></a></button>
            {% endif %}
        </div>
    </div>
    {% block message_content %}
    {% endblock %}
</div>
{% endblock %}