{% extends "base.html" %}
{% import "_macros.html" as macros with context %}

{% block title %}Islandr - Moments{% endblock %}

{% block page_content %}

<h1>Moments</h1>
<div class="container">
    <div class="row">
        <div class="col-2"></div> <!--占位用-->
        <div class="col-8">
            {% for one_moment in moments.all() %}
                {{ macros.moment_generator(one_moment, one_moment.pictures | str_to_dic) }}
            {% endfor %}
        </div>
        <div class="col-2"></div> <!--占位用-->
    </div>
</div>

{% endblock %}
