<!--
 * @Description: Moments Function
 * @Author: Tianyi Lu
 * @Date: 2019-08-12 11:31:34
 * @LastEditors  : Tianyi Lu
 * @LastEditTime : 2020-01-04 22:29:37
 -->
{% extends "base.html" %}
{% import "_macros.html" as macros with context %}

{% block title %}Islandr - Moments{% endblock %}

{% block page_content %}



<div class="container d-none d-sm-block">
    <div class="row">

        <div class="col-10">
            <h2 class="mt-3">Moments</h2>
        </div>
        <div class="col-2">
            {% if current_user.my_group %}
            <a href="{{ url_for('moment.create_moment') }}">
                <button type="button" class="btn btn-info my-2 mt-3"> + New Moment </button>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<div class="d-block d-sm-none">
    <div class="row">
        <div class="col-6">
            <h4 class="my-1">Moments</h4>
        </div>
        <div class="col-6">
            <div class="float-right">
                {% if current_user.my_group %}
                <a href="{{ url_for('moment.create_moment') }}">
                    <button type="button" class="btn btn-info my-1"> + New Moment </button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<hr>

<div class="container">
    <div class="row">
        <div>
            {% for one_moment in moments %}

                {{ macros.moment_generator(one_moment, one_moment.pictures | str_to_dic) }}
                <br />

            {% endfor %}
        </div>
    </div>
</div>

<div class="pagination justify-content-center">
    {{ macros.pagination_widget(pagination, 'moment.moments') }}
</div>

{% endblock %}
