<!--
 * @Description: Moments' likers template
 * @Author: Yufeng Wu
 * @Date: 2019-08-12 11:44:27
 * @LastEditors: Tianyi Lu
 * @LastEditTime: 2019-08-12 11:44:58
 -->
{% extends "base.html" %}

{% block title %}Islandr - Moment Likes{% endblock %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div class="mt-6">
    <div class="row">
        <h2 class="ml-3 mt-1">Likes</h2>
        <h4 class="ml-2 mt-2"><span class="badge badge-info">{{ user_amount }}</span></h4>
    </div>
    <hr/>
</div>
{{ macros.user_generator(users) }}
<div class="pagination justify-content-center">
    {{ macros.pagination_widget(pagination, 'moment.moment_likes', id=one_moment.id) }}
</div>
{% endblock %}
