{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Islandr - {{ title|capitalize }}{% endblock %}

{% block page_content %}
<div class="mt-6">
    <h2><img class="mr-3" src="{{ url_for('static', filename='icon/%s.png' % title) }}" alt="" height="50px" width="50px">{{ title|capitalize }}</h2>
    <hr/>
</div>
{{ macros.post_generator(posts) }}
<div class="pagination justify-content-center">
    {{ macros.pagination_widget(pagination, 'main.tag_events', tag=title) }}
</div>
{% endblock %}
